

.dh1 a{
    margin: 15px;
    text-decoration: none;
    color:white ;
    font-size:x-large;
}

.dh21{
    height: 12vh;
}

.dh1 a:hover{
    font-size: larger;
    font-weight: bold;
    color: white;
    transition:200ms;   
}

