

.dh1 a{
    text-decoration: none;
    color:white ;
    font-size:larger;
    margin: 0 30px;
}

.dh21{
    height: 12vh;
}

.dh1 a:hover{
    font-size: x-large;
    font-weight: 600;
    color: white;
    transition:200ms;   
}

