.App {
  text-align: center;
}

*{
  scroll-behavior: smooth;
}

.dh1 {
  display:flex ;
  /* flex-direction: row; */
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: lighten;
  justify-content: space-around;
  position:fixed;
  width: 100vw;
  top: 0;
  height: 12vh;
  align-items: center;
  z-index: 1;
  backdrop-filter: blur(4px);
}

.cri1{
  box-shadow: 0px 0px 5px 2px rgb(137, 137, 137);
}

@media (max-width: 700px) {

  .dh1{
    background: #000;
    color: blue;
    /* display: none; */
  }
}

/* .dh1{
  background: #000;
} */



/* BackGround Header */
.bd1{
  background-image: url("./bg1.jpg");
  background-size: cover;
  height: 73vh;
  padding-top: 30vh;
}

.bd1 h1 {
  font-size:3rem;
}

.pt-12{
  padding-top: 12.4vh;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #1a161600;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
  background: #5e5e5e;
}
